.block-project {
    width: 90%;
    max-width: 350px;
    display: inline-block;
    margin: 0 0 1em;
    padding: 10px;
}

.block-project-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 7px 10px 7px;
    color: #3f3a37;
}

.block-project-header > span {
    text-align: right;
    color: #52313187;
    line-height: 2;
}

.block-project-text {
    color: #52313187;
    text-align: left;
}

.block-project img {
    width: 100%;
}
