.myprojects {
    margin:  90px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
}

.myprojects-left, .myprojects-right {
    width: 50%;
    max-width: 500px;
    min-width: 450px;
}

.myprojects-left {
}

.myprojects-right {
}

.myprojects-title {
    padding: 30px;
    font-weight: 600;
}