.myprojects-title {
    padding: 30px;
    font-weight: 600;
}

.myprojects-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-line {
    height: 1px;
    width: 50px;
    margin: 10px auto;
    border-top: 1px solid #ff7055;
}