.project {
    width: 360px;
    margin: 30px auto;
    padding: 35px 25px 35px 25px;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 5px 10px -6px #2c3b4b, 0 0 12px 0 rgba(44, 59, 75, 0.15);
    -moz-box-shadow: 0 5px 10px -6px #2c3b4b, 0 0 12px 0 rgba(44, 59, 75, 0.15);
    box-shadow: 0 5px 10px -6px #2c3b4b, 0 0 12px 0 rgba(44, 59, 75, 0.15);
    text-align: left;

    -webkit-transition : 0.5s all ease;
    -moz-transition : 0.5s all ease;
    -o-transition : 0.5s all ease;
    transition: 0.5s all ease;
}
.project:hover {
    /*width: 380px;*/
    /*padding: 60px 25px 60px 25px;*/
    cursor: pointer;
    border: 1px solid rgba(242, 182, 50, 0.25);
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px rgba(242, 182, 50, 0.65), 0 0 20px 1px rgba(242, 182, 50, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(242, 182, 50, 0.65), 0 0 20px 1px rgba(242, 182, 50, 0.2);
    box-shadow: 0 8px 6px -6px rgba(242, 182, 50, 0.65), 0 0 20px 1px rgba(242, 182, 50, 0.2);
}

.project img {
    width: 100%;
    height: auto;
}

.project-title {
    color: #f2b632;
    font-weight: 700;
}