.header {

}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
    margin: 50px;
}

.banner-title {
    flex: 2;
    margin: auto;
}

.banner-title hr {
    width: 100px;
    padding-top: 10px;
}

.banner-photo {
    padding-bottom: 40px;
    flex: 1;
}

.banner a {
    text-decoration: none;
    color: #252839;
}

.banner-title-big {
    font-size: 55px;
    font-weight: 600;
}

.banner-title-small {
    font-size: 18px;
    color: rgb(242, 182, 50);
}

.banner-photo img {
    z-index: 10;
    width: 230px;
    height: auto;
    border: 1px solid rgba(242, 182, 50, 0.56);
    background-clip: content-box;
    box-shadow: 0 0 0 4px rgba(39, 18, 7, 0.78);
    border-radius: 50%;
}


@media (max-width: 800px) {
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        /*padding: 50px;*/
    }

    .banner-title-big {
        font-size: 40px;
        font-weight: 600;
    }
    .banner-title {
        margin: unset;
    }

    .banner-photo {
        margin: auto;
    }
}
@media (max-width: 400px) {
    .banner-title-big {
        font-size: 30px;
    }
    .banner-title-small {
        font-size: 15px;
    }
}
