.tag {
    max-height: 40px;
    background-color: #fcfcfc;
    padding: 7px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}